html{
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: 18px;
    background-color: #f8f9fa;
}

.about-me{
    padding:100px 100px 0px 32%;
    color:#5f6469;
}

.about-me>p{
    line-height: 30px;
}

nav a{
    transition-property: color, font-size,;
    transition-duration: 0.5s;
}

nav a:hover{
    color:#004e98;
    font-size: 1.5rem;
    text-decoration: underline;
}